@model SAIM_FO.Models.UserModel
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="login-box">
    <!-- /.login-logo -->
    <div class="card card-outline card-primary">
        <div class="card-header text-center">
            <a href="../../index2.html" class="h1"><b>Admin</b></a>
        </div>
        <div class="card-body">
            <p class="login-box-msg">Connectez-vous pour commencer</p>
                <form asp-controller="Login" asp-action="Login" method="post">
                    <div class="input-group mb-3">
                        <input asp-for="Username" class="form-control" placeholder="Nom d'utilsateur">
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" asp-for="Password" class="form-control" placeholder="Mot de passe">
                        <span style="color:red">@ViewBag.Error</span>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary"></div>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Connecter</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>