/application/Application/obj
/application/Application/bin
/application/.vs
/application/Domain/bin
/application/Domain/obj
/application/Infrastructure/bin
/application/Infrastructure/obj
/application/WebUI/bin
/application/WebUI/obj
