@model SAIM_FO.Models.CompanyModel
@{
    ViewData["Title"] = "Add company";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Companies</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Adding company</a></li>
                    <li class="breadcrumb-item active">Home</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Add</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form asp-controller="Company" asp-action="Create" method="post">
                        <div class="card-body">
                            <div class="form-group">
                                <label>Details company</label>
                                <textarea asp-for="Details" class="form-control" rows="3" placeholder="Enter ..."></textarea>
                            </div>
                            <div class="form-group">
                                <label for="address">Name company</label>
                                <input asp-for="CompanyName" class="form-control" type="text" placeholder="Name">
                            </div>
                            <div class="form-group">
                                <label for="address">Address</label>
                                <input asp-for="Address" class="form-control" type="text" placeholder="Address">
                            </div>
                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <input type="button" class="btn btn-danger" value="Cancel" onclick="location.href='@Url.Action("Index", "Company")'" />
                        </div>
                    </form>
                </div>
                <!-- /.card -->
                <!-- general form elements -->
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>