@model SAIM_FO.Models.ContactModel
@{
    ViewData["Title"] = "Ajout Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Contacts</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Ajouter contact</a></li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Ajouter</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form asp-controller="Contact" asp-action="Create" method="post">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="FirstName">First Name</label>
                                <input asp-for="FirstName" class="form-control" type="text">
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="LastName">Last Name</label>
                                <input asp-for="LastName" class="form-control" type="text">
                            </div>
                            <div class="form-group">
                                <label for="Phone">Phone Number</label>
                                <input asp-for="Phone" class="form-control" type="text">
                            </div>
                            <div class="form-group">
                                <label>Status</label>
                                <select class="form-control" asp-for="Status" name="Status">
                                    <option value="null"></option>
                                    <option value="true">Favorites</option>
                                    <option value="false">No Favorites</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="company">Company</label>
                                <select class="form-control" asp-for="Company">
                                    <option value=""></option>
                                    @foreach (var company in ViewBag.ListCompanies)
                                    {
                                        <option value="@company">@company</option>
                                    }
                                </select>
                                <span asp-validation-for="Company" class="text-danger"></span>
                            </div>
                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <input type="button" class="btn btn-danger" value="Cancel" onclick="location.href='@Url.Action("Index", "Contact")'" />
                        </div>
                    </form>
                </div>
                <!-- /.card -->
                <!-- general form elements -->
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>